.navBarContainer {
  background-color: #191919;
  height: 6rem;
  max-width: 100%;
  width: 100%;
}
.sectionContainer {
  max-width: 100%;
  width: 100%;
  padding-bottom: 2rem;
}
.footerContainer {
  position: relative;
  bottom: 0;
  height: 16rem;
  background-color: #191919;
  max-width: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* Estilos para pantallas de 576px o más grandes */
@media screen and (max-width: 720px) {
  .navBarContainer {
    background-color: #191919;
    height: 10.5rem;
  }
  .sectionContainer {
    padding-bottom: 2rem;
  }
  .footerContainer {
    background-color: #191919;
    height: 14rem;
    padding-bottom: 1.5rem;
  }
}

/* Estilos para pantallas más pequeñas que 576px */
@media screen and (max-width: 576px) {
  .navBarContainer {
    background-color: #191919;
    height: 10.5rem;
  }
  .sectionContainer {
    height: auto;
  }
  .footerContainer {
    height: 18rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #191919;
  }
}
